<p id="notice"><%= notice %></p>

<p>
  <strong>Ma sach:</strong>
  <%= @sach.ma_sach %>
</p>

<p>
  <strong>Ten sach:</strong>
  <%= @sach.ten_sach %>
</p>

<p>
  <strong>Mtg:</strong>
  <%= @sach.mtg %>
</p>

<p>
  <strong>Mtl:</strong>
  <%= @sach.mtl %>
</p>

<p>
  <strong>Manxb:</strong>
  <%= @sach.maNXB %>
</p>

<p>
  <strong>Nxb:</strong>
  <%= @sach.nxb %>
</p>

<%= link_to 'Edit', edit_sach_path(@sach) %> |
<%= link_to 'Back', saches_path %>
